<app-header></app-header>

<ion-content [fullscreen]="true">
  <div id="container" class="full-height d-flex-center" #content>
    <h2>Recuperar Conta</h2>
    <form [formGroup]="formGroup">
      <ion-list>
        <ion-item>
          <ion-input
            label="E-mail"
            labelPlacement="floating"
            [clearInput]="true"
            placeholder="Digite seu e-mail"
            formControlName="email"
          >
          </ion-input>
        </ion-item>
        @if (formGroup.controls['email'].hasError('email')) {
          <p>Insira um e-mail válido</p>
        }
        <ion-button (click)="sendLinkReset()" type="submit" expand="block">CONTINUAR</ion-button>
      </ion-list>
    </form>
  </div>
</ion-content>
