.background {
    background-color: var(--bg-secondary);
}

ion-toolbar {
    --border-width: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

ion-tabs {
    z-index: 12;
    
}

ion-tab-bar {
    --background: var(--bg-footer);
}

ion-tab-button:hover {
    ion-icon {
        color: var(--bg-primary);
    }
}

.add-button {
    ion-icon {
        padding: 8px;
        background-color: var(--bg-primary);
        color: var(--bg-footer);
        border-radius: 30px;
    }
}

.add-button:hover {
    ion-icon {
        color: white;
    }
}