<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/home">
          <ion-icon name="home" size="large"></ion-icon>
        </ion-tab-button>
        <ion-tab-button routerLink="/profile">
          <ion-icon name="person" size="large"></ion-icon>
        </ion-tab-button>
        <ion-tab-button class="add-button" routerLink="/add-animal">
          <ion-icon name="add" size="large"></ion-icon>
        </ion-tab-button>
        <ion-tab-button routerLink="/search">
          <ion-icon name="search" size="large"></ion-icon>
        </ion-tab-button>
        <ion-tab-button routerLink="/notifications">
          @if (notifications !== 0) {
            <ion-badge color="danger">{{ notifications }}</ion-badge>
          }
          <ion-icon name="notifications-outline" size="large"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>