
:root {
  --bg-primary: #4D9054;
  --bg-secondary: #EEEEEE;
  --bg-footer: #F6F6F6;
  --bg-card: #F5F5F5;
  --color-primary: #5F5F5F;
  --color-secondary: #868686;
  --color-primary-contrast: #FFFFFF;
  --color-danger: #EB445A;
}

:root .dark-theme {
  --bg-primary: #407E46;
  --bg-secondary: #252526;
  --bg-footer: #1E1E1E;
  --bg-card: #2D2D30;
  --color-primary: #D5D5D5;
  --color-secondary: #C6C6C6;
}

body.dark {
  --bg-primary: #407E46;
  --bg-secondary: #252526;
  --bg-footer: #1E1E1E;
  --bg-card: #2D2D30;
  --color-primary: #D5D5D5;
  --color-secondary: #C6C6C6;
  --color-primary-contrast: #FFFFFF;
  --color-danger: #EB445A;
}

.ios body.dark {
  --bg-primary: #407E46;
  --bg-secondary: #252526;
  --bg-footer: #1E1E1E;
  --bg-card: #2D2D30;
  --color-primary: #D5D5D5;
  --color-secondary: #C6C6C6;
  --color-primary-contrast: #FFFFFF;
  --color-danger: #EB445A;
}

.ios ion-modal.dark {
  --bg-primary: #407E46;
  --bg-secondary: #252526;
  --bg-footer: #1E1E1E;
  --bg-card: #2D2D30;
  --color-primary: #D5D5D5;
  --color-secondary: #C6C6C6;
  --color-primary-contrast: #FFFFFF;
  --color-danger: #EB445A;
}

.md body.dark {
  --bg-primary: #407E46;
  --bg-secondary: #252526;
  --bg-footer: #1E1E1E;
  --bg-card: #2D2D30;
  --color-primary: #D5D5D5;
  --color-secondary: #C6C6C6;
  --color-primary-contrast: #FFFFFF;
  --color-danger: #EB445A;
}