<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
      <ion-title>
        PET FRIENDLY
      </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="container">
    <h2>Criar Conta</h2>
    <form #signUpForm [formGroup]="registerForm" (ngSubmit)="signUp()">
      <ion-list>
        <ion-item>
          <ion-input
            label="Nome Completo"
            labelPlacement="floating"
            [clearInput]="true"
            formControlName="fullName"
            id="fullNameSignUp"
          >
          </ion-input>
        </ion-item>
        @if (registerForm.get('fullName')?.errors?.['required'] && registerForm.get('fullName')?.touched) {
          <p>Nome é obrigatório</p>
        }
        @if (registerForm.get('fullName')?.errors?.['minlength']) {
          <p>O nome deve possuir no mínimo 3 caracteres</p>
        }

        <ion-item>
          <ion-input
            label="Data de Nascimento"
            labelPlacement="floating"
            type="date"
            formControlName="birthDate"
            id="birthDateSignUp"
          >
          </ion-input>
        </ion-item>
        @if (registerForm.get('birthDate')?.errors?.['required'] && registerForm.get('birthDate')?.touched) {
          <p>Data de Nascimento é obrigatório</p>
        }

        <ion-item>
          <ion-input
            label="Telefone"
            labelPlacement="floating"
            type="number"
            [clearInput]="true"
            formControlName="phone"
            id="phoneSignUp"
          >
          </ion-input>
        </ion-item>
        @if (registerForm.get('phone')?.errors?.['required'] && registerForm.get('phone')?.touched) {
          <p>Telefone é obrigatório</p>
        }

        <ion-item>
          <ion-input
            label="E-mail"
            inputmode="email"
            labelPlacement="floating"
            [clearInput]="true"
            formControlName="email"
            id="emailSignUp"
          >
          </ion-input>
        </ion-item>
        @if (registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched) {
          <p>E-mail é obrigatório</p>
        }

        <ion-item>
          <ion-input
            label="Senha"
            type="password"
            labelPlacement="floating"
            formControlName="password"
            id="passwordSignUp"
          >
          </ion-input>
        </ion-item>
        @if (registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched) {
          <p>Senha é obrigatório</p>
        }
        @if (registerForm.get('password')?.errors?.['minlength']) {
          <p>A senha deve ter no mínimo 6 caracteres</p>
        }

        <ion-item>
          <ion-input
            label="Confirmar Senha"
            type="password"
            labelPlacement="floating"
            formControlName="confirmPassword"
            id="confirmPasswordSignUp"
          >
          </ion-input>
        </ion-item>
        @if (registerForm.get('confirmPassword')?.errors?.['passwordMatchValidator']) {
          <p>Senhas não conferem</p>
        }
        <ion-button type="submit" expand="block">Cadastrar</ion-button>
      </ion-list>
    </form>
    <ion-toast
        [isOpen]="!formValid"
        [message]="message"
        [duration]="3000"
        (didDismiss)="setFormValid(true)"
      ></ion-toast>
  </div>
</ion-content>
