ion-content { 
    z-index: 10;
    background: var(--bg-primary);
    
    #container {
      min-height: calc(100vh - 15vh);
      background: var(--bg-secondary);
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      padding: 30px;

      h2 {
        font-weight: bold;
        color: var(--color-secondary);
        text-align: center;
        margin-bottom: 20px;
      }

      img {
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
        width: 90%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 15px;
      }

      ion-list {
        background: none;
        display: flex;
        flex-direction: column;
        gap: 25px;

        ion-item {
          --background: none;
          --padding-start: 0;

          ion-input {
            --background: transparent;
            --highlight-color-focused: var(--bg-primary);
            --color: var(--color-primary);
          }

          label {
            width: 100%;
          }

          input[type="file"] {
            display: none;
          }
        }

        ion-progress-bar {
          --background: var(--color-primary-contrast);
          --progress-background: var(--bg-primary);
        }

        ion-button {
          --background: var(--bg-primary);
        }
      }
    }
}