ion-item {
    --background: none;
    --border-color: var(--color-secondary);
    --inner-padding-end: 0;
    --inner-padding-bottom: 5px;
    --padding-bottom: 30px;
    
    font-size: 18px;
    font-weight: bold;
    color: var(--color-primary);

    div {
        width: 20px;
        height: 20px;
        background-color: var(--color-danger);
        border-radius: 20px;
    }

    &.read {
        div {
            opacity: 0;
        }
    }
}