ion-toolbar {
    --background: var(--bg-primary);
    --min-height: 15vh;
    
    ion-searchbar {
        --box-shadow: none;
        --background: var(--bg-secondary);
        --color: var(--color-primary);
    }

    .chips {
        padding-top: 10px;
    }
}

ion-content { 
    z-index: 10;
    background: var(--bg-primary);
    
    #container {
        min-height: 79vh;
        background: var(--bg-secondary);
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        padding: 30px;
        
        p {
            margin-top: 20px;
            text-align: center;
            color: var(--color-secondary);
        }
    }

}