<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
      <ion-title>
        <h1>PET FRIENDLY</h1>
        <span>Bem vindo {{ user }}</span>
      </ion-title>
      @if (!darkMode) {
        <ion-icon (click)="toggleDarkMode()" name="moon" size="large" slot="end"></ion-icon>
      } @else {
        <ion-icon (click)="toggleDarkMode()" name="sunny-outline" size="large" slot="end"></ion-icon>
      }
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h2>Animais em adoção</h2>
    <div class="list">
      <h3>Cadastrados recentemente</h3>
      <div class="cards">
        @for (item of animals$ | async; track $index) {
          @if (item.userId == '') {
            <app-cards [routerLink]="['/details', item.id]" nome={{item.name}} raca={{item.breed}} img={{item.image}} ></app-cards>
          }
        }
      </div>
    </div>
    <div class="list">
      @if (goldenPets.length > 0) {
        <h3>Golden</h3>
        <div class="cards">
          @for (golden of goldenPets; track $index) {
            <app-cards [routerLink]="['/details', golden.id]" nome={{golden.name}} raca={{golden.breed}} img={{golden.image}} ></app-cards>
          }
        </div>
      }
    </div>
    <div class="list">
      @if (sdrPets.length > 0) {
        <h3>SRD</h3>
        <div class="cards">
          @for (sdr of sdrPets; track $index) {
            <app-cards [routerLink]="['/details', sdr.id]" nome={{sdr.name}} raca={{sdr.breed}} img={{sdr.image}} ></app-cards>
          }
        </div>
      }
    </div>
  </div>
</ion-content>

<toolbar></toolbar>
